parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Nova\\\\Dashboards\\\\Metrics\\\\NewPosts\\:\\:calculate\\(\\) should return array\\<int, Laravel\\\\Nova\\\\Metrics\\\\MetricTableRow\\> but returns array\\<int, App\\\\Models\\\\Post\\>\\.$#"
			count: 1
			path: app/Nova/Dashboards/Metrics/NewPosts.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<int,App\\\\Models\\\\Post\\>\\:\\:transform\\(\\) expects callable\\(App\\\\Models\\\\Post, int\\)\\: App\\\\Models\\\\Post, Closure\\(mixed\\)\\: Laravel\\\\Nova\\\\Metrics\\\\MetricTableRow given\\.$#"
			count: 1
			path: app/Nova/Dashboards/Metrics/NewPosts.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$type\\.$#"
			count: 1
			path: app/Nova/Fields/BookPurchase.php

		-
			message: "#^Parameter \\#1 \\$callback of method Laravel\\\\Nova\\\\Element\\:\\:canSee\\(\\) expects Closure\\(Illuminate\\\\Http\\\\Request\\)\\: bool, Closure\\(Illuminate\\\\Http\\\\Request\\)\\: bool\\|null given\\.$#"
			count: 1
			path: app/Nova/Post.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: "#^Parameter \\#2 \\$createUserCallback of static method Laravel\\\\Nova\\\\Nova\\:\\:createUserUsing\\(\\) expects \\(Closure\\(string, string, string\\)\\: Illuminate\\\\Database\\\\Eloquent\\\\Model\\)\\|null, Closure\\(string, string, string, bool\\)\\: Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: app/Providers/NovaServiceProvider.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<string,Symfony\\\\Component\\\\Finder\\\\SplFileInfo\\>\\:\\:transform\\(\\) expects callable\\(Symfony\\\\Component\\\\Finder\\\\SplFileInfo, string\\)\\: Symfony\\\\Component\\\\Finder\\\\SplFileInfo, Closure\\(mixed\\)\\: string given\\.$#"
			count: 1
			path: nova-components/IconsViewer/src/Http/Controllers/ViewerController.php

		-
			message: "#^Strict comparison using \\=\\=\\= between Symfony\\\\Component\\\\Finder\\\\SplFileInfo and 'index\\.js' will always evaluate to false\\.$#"
			count: 1
			path: nova-components/IconsViewer/src/Http/Controllers/ViewerController.php
