parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$badgeCallback of method Laravel\\\\Nova\\\\Menu\\\\MenuItem\\:\\:withBadgeIf\\(\\) expects \\(callable\\(\\)\\: Laravel\\\\Nova\\\\Badge\\)\\|Laravel\\\\Nova\\\\Badge\\|string, Closure\\(\\)\\: numeric\\-string given\\.$#"
			count: 1
			path: app/Nova/Dashboards/Posts.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$type\\.$#"
			count: 1
			path: app/Nova/Fields/BookPurchase.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\HigherOrderTapProxy\\|Laravel\\\\Nova\\\\Fields\\\\Hidden\\:\\:onlyOnForms\\(\\)\\.$#"
			count: 1
			path: app/Nova/Fields/BookPurchase.php

		-
			message: "#^Method App\\\\Nova\\\\Metrics\\\\BookPurchases\\:\\:ranges\\(\\) should return array\\<int\\|string, string\\> but returns array\\<int\\|string, array\\|string\\|null\\>\\.$#"
			count: 1
			path: app/Nova/Metrics/BookPurchases.php

		-
			message: "#^Method App\\\\Nova\\\\Metrics\\\\CommentCount\\:\\:ranges\\(\\) should return array\\<int, string\\> but returns array\\<int, array\\|string\\|null\\>\\.$#"
			count: 1
			path: app/Nova/Metrics/CommentCount.php

		-
			message: "#^Access to an undefined property App\\\\Nova\\\\Notification\\<TModel of Laravel\\\\Nova\\\\Notifications\\\\Notification\\>\\:\\:\\$read_at\\.$#"
			count: 1
			path: app/Nova/Notification.php

		-
			message: "#^Parameter \\#1 \\$seconds of static method Laravel\\\\Nova\\\\Nova\\:\\:notificationPollingInterval\\(\\) expects int, float given\\.$#"
			count: 1
			path: app/Providers/NovaServiceProvider.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: app/Providers/NovaServiceProvider.php

