parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property object\\:\\:\\$type\\.$#"
			count: 1
			path: app/Nova/Fields/BookPurchase.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\HigherOrderTapProxy\\|Laravel\\\\Nova\\\\Fields\\\\Hidden\\:\\:onlyOnForms\\(\\)\\.$#"
			count: 1
			path: app/Nova/Fields/BookPurchase.php

		-
			message: "#^Method App\\\\Nova\\\\Metrics\\\\BookPurchases\\:\\:ranges\\(\\) should return array\\<int\\|string, string\\> but returns array\\<int\\|string, array\\|string\\|null\\>\\.$#"
			count: 1
			path: app/Nova/Metrics/BookPurchases.php

		-
			message: "#^Method App\\\\Nova\\\\Metrics\\\\CommentCount\\:\\:ranges\\(\\) should return array\\<int, string\\> but returns array\\<int, array\\|string\\|null\\>\\.$#"
			count: 1
			path: app/Nova/Metrics/CommentCount.php

		-
			message: "#^Access to an undefined property App\\\\Nova\\\\Notification\\<TModel of Laravel\\\\Nova\\\\Notifications\\\\Notification\\>\\:\\:\\$read_at\\.$#"
			count: 1
			path: app/Nova/Notification.php

		-
			message: "#^Parameter \\#1 \\$seconds of static method Laravel\\\\Nova\\\\Nova\\:\\:notificationPollingInterval\\(\\) expects int, float given\\.$#"
			count: 1
			path: app/Providers/NovaServiceProvider.php

		-
			message: "#^Parameter \\#2 \\$createUserCallback of static method Laravel\\\\Nova\\\\Nova\\:\\:createUserUsing\\(\\) expects \\(Closure\\(string, string, string\\)\\: Illuminate\\\\Database\\\\Eloquent\\\\Model\\)\\|null, Closure\\(string, string, string, bool\\)\\: Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: app/Providers/NovaServiceProvider.php

