includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:

  paths:
    - app

  # The level 8 is the highest level
  level: 8

  ignoreErrors:
    - '#Access to an undefined property Laravel\\Nova\\Fields\\ActionFields#'
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\[a-zA-Z\\\<\>]+::(withTrashed|onlyTrashed|trashed)\(\)#'
    - '#Parameter \#[\d]+ \$request of method [a-zA-Z\\]+::[a-zA-Z]+\(\) expects Laravel\\Nova\\Http\\Requests\\NovaRequest, Illuminate\\Http\\Request given#'

  checkMissingIterableValueType: false
  noUnnecessaryCollectionCall: false
  checkModelProperties: false
