includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - ./phpstan-baseline.neon

parameters:

  paths:
    - app
    - database
    - nova-components/CustomField/src
    - nova-components/IconsViewer/src
    - nova-components/RememberTokenCopier/src
    - nova-components/ResourceTool/src
    - nova-components/SidebarTool/src

  # The level 9 is the highest level
  level: 8

  ignoreErrors:
    - '#Access to an undefined property Laravel\\Nova\\Fields\\(ActionFields|FormData)#'
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\[a-zA-Z\\\<\>]+::(withTrashed|onlyTrashed|trashed)\(\)#'

  excludePaths:
    - app/Http/Controllers/Auth/*.php

  checkMissingIterableValueType: false
  noUnnecessaryCollectionCall: false
  checkModelProperties: false
  checkGenericClassInNonGenericObjectType: false
