name: Larastan

on:
  push:
    branches:
      - "8.*"
      - "9.*"
      - "10.*"
      - "master"
  pull_request:

jobs:
  laravel-tests:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    timeout-minutes: 35
    strategy:
      matrix:
        os:
          - "ubuntu-latest"
        php:
          - 8.1
        dependencies:
          - "highest"
        experimental:
          - true

    name: PHP${{ matrix.php }} on ${{ matrix.os }} (${{ matrix.dependencies }})

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: nova_dusk
        ports:
          - 33306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      redis:
        image: redis:5.0
        ports:
          - 6379:6379
        options: --entrypoint redis-server

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Setup Node 16
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'

      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - uses: actions/checkout@v3
        name: Checkout private tools
        with:
          repository: laravel/nova
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          path: nova
          ref: "4.0"

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, mysql, mysqli, pdo_mysql, bcmath, intl, fileinfo
          coverage: none

      - name: Install dependencies
        uses: "ramsey/composer-install@v2"
        with:
          dependency-versions: "${{ matrix.dependencies }}"
          composer-options: "--prefer-dist --no-cache"

      - name: List Installed Dependencies
        run: composer show -D

      - name: Run Larastan
        run: php vendor/bin/phpstan analyse
